#AddItemForm {
    display: none;
    max-width: 275px;
    margin: 0 auto;
    padding: 10px;
    /*border: 1px solid #ccc;
    background-color: lightyellow;*/
}
    #AddItemForm label {
        display: block;
        margin-bottom: 5px;
    }